.form-collab {
  width: 80vw;
}

.form-collab .label {
  display: block;
  position: relative;
}
.form-collab .label:not(:last-of-type) {
  margin-bottom: var(--spacing-medium);
}
.form-collab .label:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 1px;
  left: 0;
  background-color: var(--color-first);
  transform-origin: left center;
  transform: scaleX(0);

  transition: transform 200ms linear;
}

.form-collab .label:focus-within:after {
  transform: scaleX(1);
}

.form-collab .title {
  display: block;
  text-align: center;
  margin-bottom: var(--spacing-small);
}

.form-collab .subtitle {
  display: block;
  font-size: 14px;
  text-align: center;
  color: var(--color-first);
  font-weight: bold;
  margin-bottom: var(--spacing-medium);
}

.form-collab .input {
  display: block;
  width: 100%;
  border-bottom: 2px solid var(--color-second);
  background-color: transparent;
  height: 2em;
  font-weight: bold;
}
.form-collab .input::selection {
  background-color: var(--color-first);
  color: var(--color-zero);
}
.form-collab .input:focus,
.form-collab .input:hover {
  border-bottom-color: var(--color-first);
}
