.form-collab {
  width: 80vw;
}

.form-collab .title {
  display: block;
  text-align: center;
  margin-bottom: var(--spacing-small);
}

.form-collab .subtitle {
  display: block;
  font-size: 14px;
  text-align: center;
  color: var(--color-first);
  font-weight: bold;
  margin-bottom: var(--spacing-medium);
}

.form-collab .input {
  display: block;
  width: 100%;
  border-bottom: 2px solid var(--color-second);
  background-color: transparent;
  height: 2em;
  font-weight: bold;
}
.form-collab .input::selection {
  background-color: var(--color-first);
  color: var(--color-zero);
}
.form-collab .input:focus,
.form-collab .input:hover {
  border-bottom-color: var(--color-first);
}
